/* Font*/
h1, h2 {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 50px;
}
h2 {
    font-size: 40px;
}
body {
    font-family: "DM Sans", sans-serif;
}

/* Header section*/

.navigation-text {
    font-size: 22px;
    font-weight: 400;
}
.navigation-text-active {
    font-size: 22px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    pointer-events: none;
}

.navigation-text-active .highlight {
    position: relative;
    display: inline-block;
}

.navigation-text-active .highlight::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 180%;
    height: 1.2em;
    background-color: #F9F98E;
    z-index: -1;
    pointer-events: none;
    clip-path: polygon(10% 0%, 90% 0%, 80% 100%, 0% 100%);
}


.inline-block {
    vertical-align: top;
    align-items: center;
}
header.navigation {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
}
header.navigation > .inline-block {
    display: flex;
    align-items: center;
    gap: 20px;
    width: auto;
    max-width: 1100px;
}
nav a {
    color: black;
    text-decoration: none;
}
nav li:first-child {
    margin-right: auto;
}
.logo {
    width: auto;
    padding: 0%;
    text-align: center;
    vertical-align: middle;
    flex: 0 0 auto;
    margin-right: 40px;
}
nav {
    display: flex;
    flex: 1;
    justify-content: center;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    padding: 1%;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 999px;
}
nav li {
    margin: 0 20px;
    display: inline-block;
    text-align: center;
    padding: 40px;
    position: relative;
}
  li:first-child {
    border-right: none
  }
nav .active{
    background-color: #F9F98E;
    text-align: center;
}

nav li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    background: radial-gradient(circle, rgba(229,229,121,0.7) 0%, rgba(229,229,121,0) 100%);
    border-radius: 50%;
    padding: 0px 0px;
    z-index: -1;
    display: none;
}

nav li.nav-hover::before {
    display: block;
}

/* text animation*/
#typing-text {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid black; 
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}

.cursor {
    display: inline;
    opacity: 1;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}


/* HeroImg section */
.heroImg {
    height: auto;
    padding: 30px;
    margin-top: 180px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content {
    margin: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    align-items: flex-start;
    max-width: 1000px;
    width: 100%;
}
.left {
    float: left;
    padding-right: 80px;
    flex: 1;
    max-width: 300px;
    margin-top: 40px;
    margin-right: 20px;
}
h1 {
    position: relative;
    left: -30%;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 80px;
}
h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 200%;
    height: 10px;
    background-color: #f9f98e;
    z-index: -1;
    box-shadow: 0 5px 0 0 #f9f98e;
}
.quote-left, .quote-right {
    font-size: 80px;
    position: absolute;
    color: black;
}

.quote-container {
    position: relative;
}

.quote-left {
    left: -80px;
    top: -30px;
    font-family: "Passion One", sans-serif;
    position: absolute;
    z-index: 1;
}

.quote-right {
    right: -60px;
    bottom: 10px;
    left: 580px;
    font-family: "Passion One", sans-serif;
}
.text-content {
    position: relative;
    z-index: 1;
    max-width: 2000px;
    display: flex;
    flex-direction: column;
}
.text-content h2 {
    margin: 0;
    margin-top: 20px;

}
.text-content p {
    line-height: 1.7;
    font-size: 20px;
}
.button {
    display: inline-block;
    text-decoration: none;
    border-radius: 999px;
    overflow: hidden;

}
.button img {
    display: block;
    width: 70%;
    height: auto;
}
.button:hover {
    transform: scale(1.05);
}
.text-section {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.button-section {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.roles {
    text-align: center;
    margin-top: 30px;
    position: relative;
}
.roles-hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #777777;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 230%;
    max-width: none;
}
.roles-box {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    background-color: #EEEEEE;
    border: 1px solid #777777;
    border-radius: 999px;
    font-size: 18px;
}
.roles-text {
    position: relative;
    display: inline-block;
    background-color: white;
    padding: 0 20px;
    font-size: 18px;
}

/* Back to Top button */
#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #799CE5;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s background-color 0.3s, color 0.3s;
    opacity: 0.5;
    z-index: 2000;
}

#back-to-top .arrow-up {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 18px solid #799CE5;
    border-radius: 5px;
    transition: border-bottom-color 0.1s, border-radius 0.3s;
}

#back-to-top.show {
    display: flex;
    opacity: 1;
}

#back-to-top:hover {
    background-color: #799CE5;
}

#back-to-top:hover .arrow-up {
    border-bottom-color: #fff;
    border-radius: 3px;
}


/* Footer section*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 999px;
    margin-top: 100px;
    overflow: hidden;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-logo {
    max-width: 0px;
    margin-right: -55px;
    margin-left: 40px;
}

.footer-logo img {
    display: block;
    margin: 0 auto;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 27px 0px;
    margin-right: -15px;
    border-right: 1px solid #777777;
    padding-right: 60px;
    margin-bottom: 0;
    margin-left: 5px;
}

.footer-menu li {
    margin: 10px 0;
}

.footer-menu a {
    color: black;
    text-decoration: none;
}

.footer-info a {
    color: black;
    text-decoration: none;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;
    margin-left: -150px;
    margin-right: 20px;
}

.info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -20px;
    margin-left: -75px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.phone, .email {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.phone a, .email a {
    padding-left: 30px;
    font-weight: 500;
    margin: 0;
    line-height: 1;
}

.phone-img, .email-img {
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.nyc-image {
    max-width: 50px;
    margin-top: -30px;
    margin-right: 40px;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 0px;
}

.footer-bottom p {
    margin: 0;
}