/* Font*/
h1, h2 {
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 100px;
    position: relative;
    left: 15%;
    top: -10px;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 80px;
    font-family: "Passion One", sans-serif;
    font-weight: 400;
    color: transparent;
    -webkit-text-stroke: 3px black;
    z-index: 1;
}

h1::before {
    content: '';
    position: absolute;
    left: 55%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 0.6em;
    background-color: #F9F98E;
    clip-path: polygon(10% 0%, 90% 0%, 80% 100%, 0% 100%);
    z-index: -1; 
}

/*h1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 200%;
    height: 10px;
    background-color: #f9f98e;
    z-index: -1;
    box-shadow: 0 5px 0 0 #f9f98e;
}*/

h2 {
    font-size: 40px;
}

h4 {
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 700;
}
body {
    font-family: "DM Sans", sans-serif;
    background-color: #EDE7DF;
}

/* Header section*/

.navigation-text {
    font-size: 22px;
    font-weight: 400;
}
.navigation-text-active {
    font-size: 22px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    pointer-events: none;
}

.navigation-text-active .highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.navigation-text-active .highlight::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 180%;
    height: 1.2em;
    background-color: #F9F98E;
    z-index: -2;
    pointer-events: none;
    clip-path: polygon(10% 0%, 90% 0%, 80% 100%, 0% 100%);
}

.inline-block {
    vertical-align: top;
    align-items: center;
}

.inline-block.logo {
    background-color: transparent;
}

header.navigation {
    justify-content: center;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #EDE7DF;
}

header.navigation > .inline-block {
    display: flex;
    align-items: center;
    gap: 20px;
    width: auto;
    max-width: 1100px;
}

nav a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 1;
}

nav li:first-child {
    margin-right: auto;
}

.logo {
    width: auto;
    padding: 0%;
    text-align: center;
    vertical-align: middle;
    flex: 0 0 auto;
    margin-right: 40px;
}

nav {
    display: flex;
    flex: 1;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1200px;
    padding: 1%;
    vertical-align: middle;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 999px;
    background-color: white;
    position: relative;
}

nav li {
    margin: 0 20px;
    display: inline-block;
    text-align: center;
    padding: 40px;
    position: relative;
}

  li:first-child {
    border-right: none
}

nav .active{
    background-color: #F9F98E;
    text-align: center;
    z-index: 1;
}

nav .active .highlight {
    background-color: #F9F98E;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 999px;
    z-index: -1;
}

nav .active .highlight::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #F9F98E;
    z-index: -1;
    clip-path: polygon(10% 0%, 90% 0%, 80% 100%, 0% 100%);
    border-radius: 999px;
}

nav li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    background: radial-gradient(circle, rgba(229,229,121,0.7) 0%, rgba(229,229,121,0) 100%);
    border-radius: 50%;
    padding: 0px 0px;
    z-index: 0;
    display: none;
}

nav li.nav-hover::before {
    display: block;
}

/* Work section*/
.myWork {
    width: 80%;
    margin: 40px auto 0;
    padding: 0px;
    box-sizing: border-box;
}

.workGrid {
    display: grid;
    gap: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 100px;
}

.workitem {
    position: relative;
    display: inline-block;
    max-width: 300px;
    padding: 20px;
    margin: 20px auto;
    transition: transform 0.3s ease;
}

.workitem img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50px;
    display: block;
    transition: transform 0.3s ease;
}

.workitem:hover {
    transform: scale(1.2);
}

.workitem:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid black;
    border-radius: 70px;
    pointer-events: none;
    transition: transform 0.3s ease;
}

.workitem:hover:before {
    transform: scale(1.05);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.3);
}

.workDescription {
    text-align: left;
    width: 500px;
    line-height: 1.6;
    padding-left: 30px;
}

.workHeader {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.workNumber {
    font-family: "Passion One", sans-serif ;
    font-size: 50px;
    margin-right: 10px;
    position: relative;
    padding-left: 50px;
}

.workNumber::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 10px;
    background-color: black;
}

.workDescription h4 {
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.workDescription p {
    font-size: 18px;
    margin-bottom: 20px;
}

.arrow-button {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: black;
    transition: transform 0.3s ease;
}

.arrow-button:hover {
    transform: scale(1.2);
}

.arrow-icon {
    width: 40px;
    height: auto;
}

/* Back to Top button */
#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #799CE5;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.3s background-color 0.3s, color 0.3s;
    opacity: 0.5;
    z-index: 2000;
}

#back-to-top .arrow-up {
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 18px solid #799CE5;
    border-radius: 5px;
    transition: border-bottom-color 0.1s, border-radius 0.3s;
}

#back-to-top.show {
    display: flex;
    opacity: 1;
}

#back-to-top:hover {
    background-color: #799CE5;
}

#back-to-top:hover .arrow-up {
    border-bottom-color: #fff;
    border-radius: 3px;
}


/* Footer section*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 999px;
    margin-top: 100px;
    overflow: hidden;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.footer-logo {
    max-width: 0px;
    margin-right: -55px;
    margin-left: 40px;
}

.footer-logo img {
    display: block;
    margin: 0 auto;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: -10px 0px;
    margin-right: -20px;
    border-right: 1px solid #777777;
    padding-right: 60px;
    margin-bottom: -15px;
}

.footer-menu li {
    margin: 10px 0;
}

.footer-menu a {
    color: black;
    text-decoration: none;
}

.footer-info a {
    color: black;
    text-decoration: none;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-left: -150px;
    margin-right: 20px;
}

.info-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -30px;
    margin-left: -75px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
}

.phone, .email {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.phone a, .email a {
    padding-left: 30px;
    font-weight: 500;
    margin: 0;
    line-height: 1;
}

.phone-img, .email-img {
    display: flex;
    align-items: center;
    margin-right: 2px;
}

.nyc-image {
    max-width: 50px;
    margin-top: -30px;
    margin-right: 40px;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}

/*Media query*/
@media only screen and (max-width: 430px){

    header.navigation {
        display: none;
    }


    .mobile-header {
        width: 100%;
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #EDE7DF !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .mobile-logo {
        width: 130px;
        margin-left: 30px;
    }

   /* .menu-icon-wrapper {
        position: relative;
        margin-right: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }*/

    .menu-icon {
        width: 30px;
        height: auto;
        z-index: 1;
    }

    .menu-icon-bg {
        position: absolute;
        margin-right: 30px;
        width: 50px;
        height: 50px;
        background: radial-gradient(circle, rgba(229, 229, 121, 1) 0%, rgba(229, 229, 121, 0) 100%);
        border-radius: 50%;
        transition: opacity 0.3s;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }

    .menu-icon-wrapper:hover .menu-icon-bg {
        opacity: 1;
    }

    
    h1 {
        font-size: 48px !important;
        -webkit-text-stroke: 1px black;
        margin-top: 200px !important;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 18px !important;
        font-weight: 500;
    }

    .myWork {
        width: 100%;
        margin: 40px auto 0;
        padding: 0px;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .workGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
        margin-top: 20px;
    }

    .workNumber {
        margin-bottom: 10px;
        display: inline-block;
    }

    .workitem {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100%;
        max-width: 300px;
        padding: 10px;
        margin: 20px auto;
        transition: transform 0.3s ease;
    }

    .workitem img {
        width: 100%;
        height: auto;
        max-width: 300px;
        border-radius: 60px;
        display: block;
        transition: transform 0.3s ease;
    }

    .workitem:before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: 1px solid black;
        border-radius: 80px;
        pointer-events: none;
        transition: transform 0.3s ease;
    }

    .workitem:hover {
        transform: scale(1.1);
    }

    .workDescription {
        text-align: center;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 70px;
        margin-top: 10px;
    }

    .workDescription h4 {
        font-size: 20px;
        margin-top: 10px;
        text-align: center;
    }

    .workDescription p {
        display: none;
        text-align: center;
    }

    .workDescription:not(:last-of-type)::after {
        content: '';
        display: block;
        width: 80%;
        margin: 20px auto;
        border-top: 2px dashed black;
        margin-top: 80px;
        margin-bottom: 0px;
    }

    .workitem:last-of-type + .workDescription::after {
        content: none;
    }
    
    .workitem, .workDescription {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .worknumber-wrapper {
        margin: 0 auto 10px auto;
    }

    .arrow-button {
        display: inline-block;
    }

    /*Mobile Footer */
    .footer-menu {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 100px;
        margin-top: 60px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .footer-logo img {
        width: 100px;
        height: auto;
        display: block;
        margin-right: 60px;
    }

    .footer-logo {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        gap: 20px;
    }

    .phone, .email {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        margin-left: 280px;
    }

    .phone-img, .email-img {
        margin-right: -10px;
    }

    .nyc-image {
        align-self: flex-end;
        margin-top: -50px;
        width: 30px;
        margin-bottom: 10px;
        margin-left: -30px
    }

    .nyc-image img {
        width: 35px;
        height: auto;
        margin-bottom: 10px;
    }

    .footer-bottom {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }
}

  /*only header-mobile */
@media only screen and (min-width: 241px) and (max-width: 1124px) {
    header.navigation {
        display: none;
    }

    .mobile-header {
        width: 100%;
        padding: 10px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: #EDE7DF !important;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-logo {
        width: 130px;
        margin-left: 30px;
    }

    .menu-icon {
        width: 30px;
        margin-right: 30px;
    }

    h1 {
        font-size: 48px !important;
        -webkit-text-stroke: 1px black;
        margin-top: 200px;
        margin-bottom: 30px;
    }

    .overlay-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #799CE5;
        z-index: 9999;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        box-sizing: border-box;
    }

    .overlay-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
    }

    .overlay-nav ul {
        list-style: none;
        padding: 0;
        margin: 20px 30px;
        text-align: start;
        font-family: "Passion One";
        width: 100%;
        margin-top: -30px;
    }

    .overlay-logo {
        width: 150px;
    }

    .close-icon {
        width: 20px;
        height: 20px;
        margin-right: 80px;
        cursor: pointer;
    }

    .overlay-nav ul li {
        margin: 60px 0;
        position: relative;
    }

    .overlay-nav ul li a {
        color: black;
        text-decoration: none;
        font-size: 32px;
        display: inline-block;
        margin-left: 30px;
        position: relative;
    }

    .overlay-nav ul li a::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 180%;
        height: 80%;
        background-color: rgba(249, 249, 142, 0.8);
        z-index: -1;
        pointer-events: none;
        clip-path: polygon(10% 0%, 90% 0%, 80% 100%, 0% 100%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .overlay-nav ul li a:hover::before {
        opacity: 1;
    }

    .overlay-nav.show {
        display: flex;
    }

    .overlay-nav.show ~ .mobile-header {
        display: none;
    }

    .menu-icon-wrapper {
        position: relative;
        margin-right: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-icon {
        width: 30px;
        height: auto;
        z-index: 1;
    }

    .menu-icon-bg {
        position: absolute;
        margin-right: 30px;
        width: 50px;
        height: 50px;
        background: radial-gradient(circle, rgba(229, 229, 121, 1) 0%, rgba(229, 229, 121, 0) 100%);
        border-radius: 50%;
        transition: opacity 0.3s;
        opacity: 0;
        pointer-events: none;
        z-index: -1;
    }

    .menu-icon-wrapper:hover .menu-icon-bg {
        opacity: 1;
    }

}

  /*only footer and content-mobile */
@media only screen and (min-width: 241px) and (max-width: 990px) {
    
    
    .footer-menu {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: auto;
        padding: 10px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 100px;
        margin-top: 60px;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .footer-logo img {
        width: 100px;
        height: auto;
        display: block;
        margin-right: 60px;
    }

    .footer-logo {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        gap: 20px;
    }

    .phone, .email {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 500;
        margin-left: 280px;
    }

    .phone-img, .email-img {
        margin-right: -10px;
    }

    .nyc-image {
        align-self: flex-end;
        margin-top: -50px;
        width: 30px;
        margin-bottom: 10px;
        margin-left: -30px
    }

    .nyc-image img {
        width: 35px;
        height: auto;
        margin-bottom: 10px;
    }

    .footer-bottom {
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    h4 {
        font-size: 22px;
        font-weight: 500;
    }

    .myWork {
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .workGrid {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        margin-top: 20px;
    }

    .workitem {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 100%;
        max-width: 300px;
        padding: 10px;
        margin: 20px auto;
        transition: transform 0.3s ease;
    }

    .workitem img {
        width: 100%;
        height: auto;
        max-width: 300px;
        border-radius: 60px;
        display: block;
        transition: transform 0.3s ease;
    }

    .workitem:before {
        content: '';
        position: absolute;
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        border: 1px solid black;
        border-radius: 80px;
        pointer-events: none;
        transition: transform 0.3s ease;
    }

    .workitem:hover {
        transform: scale(1.1);
    }

    .workDescription {
        text-align: center;
        width: 100%;
        padding: 0 20px;
        margin-bottom: 70px;
        margin-top: -10px;
    }

    .workDescription h4 {
        font-size: 20px;
        margin-top: 10px;
    }

    .workDescription p {
        display: none;
    }

    
}



@media only screen and (min-width: 1125px) {

    .overlay-nav {
        display: none !important;
    }

    .mobile-header {
        display: none;
    }

    h1 {
        margin-top: 220px;
        position: relative;
        z-index: 1;
    }

    
}